#home {
  font-style: italic;
  background-image: url('../../images/logo-super-shapes.png');
  background-repeat: no-repeat;
  background-size: 255px;
  object-fit: contain;
  height: 100%;
  margin: auto;
}

#avatar{
  align: center;
}
